:root {
  --item: #d2f6c5;
  --text: #272727;
  --item-hover: #eff48e;
  --button: gold;
}

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 10px;
  color: var(--text);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  border-radius: 0.3rem;
}

body {
  font-size: 15px;
  margin: 50px;
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

button {
  font-weight: 600;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

button:hover {
  background-color: var(--button);
}

.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 35px;
  background-color: var(--item);
}

.item p {
  margin: 0 0 5px 0;
}

.container {
  display: grid;
}

button {
  background: var(--item-hover);
  border: 0;
  padding: 10px 20px;
}

button:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* .wrapper */
.wrapper {
  display: grid;
  grid-gap: 20px;
}

.top {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "hero hero cta1"
    "hero hero cta2";
}

.hero {
  grid-area: hero;
  min-height: 400px;
  background: white url(images/salad.jpg);
  background-size: cover;
  background-position: bottom right;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.hero > * {
  background-color: var(--item);
  color: black;
  padding: 10px 20px;
}

.hero > h1 {
  font-family: "Cantora One", sans-serif;
  font-size: 4em;
}

.cta {
  background: var(--item);
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.cta:hover {
  background-color: var(--item-hover);
  cursor: pointer;
}

.cta p {
  margin: 0;
}

.cta1 {
  grid-area: cta1;
}

.cta2 {
  grid-area: cta2;
}

.price {
  font-size: 60px;
  font-weight: 300;
}

/* Navigation */
.menu ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.menu a {
  background: var(--item);
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 20px;
}

.menu a:hover {
  background-color: var(--item-hover);
}

[aria-controls="menu-list"] {
  display: none;
}

/* Features */
.features {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.feature {
  background: white;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.feature .icon {
  font-size: 50px;
}
.feature p {
  color: rgba(0, 0, 0, 0.5);
}

/* About Section */
.about {
  background: white;
  padding: 50px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 400px 1fr;
  align-items: center;
}

/* Gallery */
.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img {
  width: 100%;
}

.gallery h2 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
}

.gallery h2:before,
.gallery h2:after {
  display: block;
  content: "";
  height: 10px;
  background: linear-gradient(
    to var(--direction, left),
    var(--item),
    transparent
  );
}

.gallery h2:after {
  --direction: right;
}

@media (max-width: 1000px) {
  .menu {
    order: -1;
    perspective: 800px;
  }
  [aria-controls="menu-list"] {
    display: block;
    margin-bottom: 10px;
  }

  .menu ul {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all 0.5s;
  }

  [aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0);
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }

  .hero > h1 {
    font-size: 3em;
  }

  .features {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .top {
    grid-template-areas:
      "hero hero"
      "cta1 cta2";
  }

  .about {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .top {
    grid-template-areas:
      "hero"
      "cta1"
      "cta2";
  }

  body {
    margin: 10px;
  }
}
